<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./general.css">
    <title>Página con Menú</title>
    <style>
        /* Estilos para la ventana modal */
       
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar-header">
                <div class="logo">
                    <img src="images/logo.png" alt="Logo">
                </div>
                <br>
                
                <div class="user-icon">
                    <img src="images/usuario-de-perfil.png" alt="User Icon">
                </div>
                <div class="admin-name">
                    <span>Administrador</span>
                </div>
            </div>
            <ul>
                <li><a href="#">> Inicio</a></li>
                <br>
                <li><a href="#">> Caja</a></li>
                <br>
                <li><a href="#">> Clientes</a></li>
                <br>
                <li><a href="#">> Provedor</a></li>
                <br>
                <li><a href="#">> Productos</a></li>
                <br>
                <li><a href="#">>Compras</a></li>
            </ul>
           
        </div>
        <a href="#" class="logout-link">Cerrar sesión</a>
        <div class="content">
            <!-- Contenido principal -->
            <h3>Registro de caja</h3>
            <div class="horizontal-bar">
                <img src="images/agregar.png" alt="agregar" class="icon" onclick="openModal()">
                <img src="images/Eliminar.png" alt="Eliminar" class="icon">
                <button type="button" class="lector">Lectura codigo de barras</button>
            </div>
        </div>

        <!-- Ventana modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">×</span>
        <div class="modal-header">
            <h2>Registro de venta</h2>
           
        </div>
        <div class="modal-body">
                <div class="caja1">
                    <div class="form-group">
                        <label for="venta_id">Venta ID:</label>
                        <input type="text" id="venta_id" name="venta_id">
                    </div>
                    <div class="form-group">
                        <label for="codigo">Código:</label>
                        <input type="text" id="codigo" name="codigo">
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción:</label>
                        <input type="text" id="descripcion" name="descripcion">
                    </div>
                    <div class="form-group">
                        <label for="valor_unitario">Valor Unitario:</label>
                        <input type="text" id="valor_unitario" name="valor_unitario">
                    </div>
                    <div class="form-group">
                        <label for="medio_pago">Medio de Pago:</label>
                        <input type="text" id="medio_pago" name="medio_pago">
                    </div>
                </div>
                <div class="caja1">
                    <div class="form-group">
                        <label for="descuento">Descuento:</label>
                        <input type="text" id="descuento" name="descuento">
                    </div>
                    <div class="form-group">
                        <label for="fecha_venta">Fecha de Venta:</label>
                        <input type="text" id="fecha_venta" name="fecha_venta">
                    </div>
                    <div class="form-group">
                        <label for="cantidad">Cantidad:</label>
                        <input type="text" id="cantidad" name="cantidad">
                    </div>
                    <div class="form-group">
                        <label for="iva">IVA:</label>
                        <input type="text" id="iva" name="iva">
                    </div>
                </div>
       
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-default">Guardar cambios</button>
            </div>
    </div>
</div>

    </div>

    <script>
        // Función para abrir la ventana modal
        function openModal() {
            document.getElementById("myModal").style.display = "block";
        }

        // Función para cerrar la ventana modal
        function closeModal() {
            document.getElementById("myModal").style.display = "none";
        }

    </script>
</body>
</html>
