<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Aplicativo POS-HC</title>

</head>
<body>
    <header class="header">
        <div class="header-content">
          <img src="images/logo.png" alt="Logo" class="logo">
          <h1 class="title">Salsamaentaria avicola,productos de panaderia</h1>
        </div>
      </header>
      
    <main>
        <h1>Aplicativo <br>POS-HC</h1>
        <div id="login">
            <h2>Iniciar sesión</h2>
            <form action="" method="post"> <!-- Añade el atributo action con la URL de tu backend -->
                <br>
                <input type="text" class="user-icon" placeholder=" Usuario">
                <br>
                <input type="password" class="password-icon" placeholder=" Contraseña">
                 <br>
                 <br>
                 <input type="submit" value="Iniciar sesión">
                 <br>
                 <br>
                 <a href="#" id="forgot-password">Olvidé mi contraseña</a>
             </form>
           
        </div>

    </main>
</body>
</html>