<!-- productos.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-NwF3tBdYF4JcJjU4pN3nI9an2P+iK8a/1qdzNm5/lf7dUq0HfdvpBfB5SvOzJ4tv" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Página con Menú</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar-header">
                <div class="logo">
                    <img src="/static/images/logo.png" alt="Logo">
                </div>
                <br>
                
                <div class="user-icon">
                    <img src="/static/images/usuario-de-perfil.png" alt="User Icon">
                </div>
                <div class="admin-name">
                    <span>Administrador</span>
                </div>
            </div>
            <ul>
                <li><a href="{{ url_for('principal') }}"><i class="fas fa-home"></i> Inicio</a></li>
                <br>
                <li><a href="{{ url_for('caja') }}"><i class="fas fa-cash-register"></i> Caja</a></li>
                <br>
                <li><a href="{{ url_for('clientes') }}"><i class="fas fa-users"></i> Clientes</a></li>
                <br>
                <li><a href="{{ url_for('proveedores') }}"><i class="fas fa-user-tie"></i> Proveedor</a></li>
                <br>
                <li><a href="{{ url_for('productos') }}"><i class="fas fa-box"></i> Productos</a></li>
                <br>
                <li><a href="{{ url_for('compras') }}"><i class="fas fa-shopping-cart"></i> Compras</a></li>
                <br>
                <li><a href="{{ url_for('venta_historico') }}"><i class="fas fa-box"></i> ventasHistorico</a></li>
                <br>
                <li><a href="{{ url_for('usuarios') }}"><i class="fas fa-box"></i> Usuarios</a></li>
            </ul>
            
           
        </div>
        <a href="{{ url_for('logout') }}" class="logout-link">
            <i class="fas fa-sign-out-alt"></i> Cerrar sesión
        </a>       
          
        <div class="content d-flex flex-column " >
            <!-- Contenido principal -->
            <h3>Productos</h3>     
                <div class="horizontal-bar my-4 d-flex py-2 justify-content-end " >
                    <img src="/static/images/agregar.png" alt="agregar" class="icon" onclick="openModal()">
                    <input type="text" id="search-input" placeholder="Buscar...">
                </div>
                
                  <!-- Ventana modal agregar productos -->
                  <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeModal()">×</span>
                        <form action="/guardar" id="product_form" method="post" >
                            <div class="modal-header">
                                <h2>Agregar Producto</h2>  
                            </div>
                            <div class="modal-body">
                                <div class="caja1">
                                    <div class="form-group">
                                        <label for="id_producto">Id Producto: </label>
                                        <input type="text" id="id_producto" name="id_producto">
                                    </div>
                                    <div class="form-group">
                                        <label for="codigo">Codigo: </label>
                                        <input type="text" id="codigo" name="codigo">
                                    </div>
                                    <div class="form-group">
                                        <label for="descripcion">Descripcion: </label>
                                        <input type="text" id="descripcion" name="descripcion">
                                    </div>
                                    <div class="form-group">
                                        <label for="categoria">Categoria: </label>
                                        <input type="text" id="categoria" name="categoria">
                                    </div>
                                    
                                </div>
                                <div class="caja1">
                                    <div class="form-group">
                                        <label for="nombre_proveedor">Nombre Proveedor:</label>
                                        <input type="text" id="nombre_proveedor" name="nombre_proveedor">
                                    </div>
                                    <div class="form-group">
                                        <label for="valor_unitario">Valor unitario:</label>
                                        <input type="text" id="valor_unitario" name="valor_unitario">
                                    </div>
                                    <div class="form-group">
                                        <label for="unidad_medida">Unidad de medida: </label>
                                        <input type="text" id="unidad_medida" name="unidad_medida">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" onclick="closeModal()">Cancelar</button>
                                <button type="submit" class="btn btn-default">Guardar cambios</button>
                            </div>
                        </form>
                    </div>
                </div>
                
                    <table class="table table-bordered">
                        <thead>
                            <th scope="col">Id_Producto</th> 
                            <th scope="col">Codigo</th>
                            <th scope="col">Descripcion</th> 
                            <th scope="col">Categoria</th> 
                            <th scope="col">nombre_proveedorr</th> 
                            <th scope="col">Unidad_medida</th> 
                            <th scope="col">Valor_unitario</th> 
                            <th scope="col" colspan="2">Acciones</th> 
                        </thead>
                    
                    <tbody >
                        {% for d in data %}
                            <tr>
                                <td>{{d.id_producto}}</td>
                                <td>{{d.codigo}}</td>
                                <td>{{d.descripcion}}</td>
                                <td>{{d.categoria}}</td>
                                <td>{{d. nombre_proveedor}}</td>
                                <td>{{d.unidad_medida}}</td>
                                <td>{{d.valor_unitario}}</td>
                                <td><button class="btn btn-primary btn-sm" id="btn-editar{{d.id_producto}}" data-bs-toggle="modal" data-bs-target="#modal{{d.id_producto}}">Editar</button></td>  
                                <td><a href="{{url_for('delete', id_producto=d.id_producto)}}" class="btn btn-danger btn-sm">Eliminar</a></td>
                            </tr>

                                        <!-- Modal Editar -->
                            <div class="modal fade" id="modal{{d.id_producto}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Editar Producto</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/editar_producto/{{d.id_producto}}" method="post">
                                                <label>Id Producto: </label> 
                                                <input type="text" id="id_producto" name="id_producto" value="{{d.id_producto}}">
                                                <label>Codigo: </label>
                                                <input type="text" id="codigo" name="codigo" value="{{d.codigo}}">
                                                <label>Descripcion: </label>
                                                <input type="text" id="descripcion" name="descripcion" value="{{d.descripcion}}">
                                                <label>Categoria: </label>
                                                <input type="text" id="categoria" name="categoria" value="{{d.categoria}}">
                                                <label> nombre_proveedor </label>
                                                <input type="text" id=" nombre_proveedor" name=" nombre_proveedor" value="{{d.nombre_proveedor}}">
                                                <label>Valor unitario:</label>
                                                <input type="text" id="valorUnitario" name="valor_unitario" value="{{d.valor_unitario}}">
                                                <label>Unidad de medida: </label>
                                                <input type="text" id="unidadMedida" name="unidad_medida" value="{{d.unidad_medida}}">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>

        
 <!-- Ventana modal Devoluciones -->
 <div id="myModal3" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal3()">×</span>
        <div class="modal-header">
            <h2>Dovoluciones</h2>
        </div>
        <div class="modal-body">
            <div class="caja1">
                <div class="form-group">
                    <label for="venta_id">Id Devoluciòn: </label>
                    <input type="text" id="cliente_id" name="cliente_id">
                </div>
                <div class="form-group">
                    <label for="descripcion">Codigo: </label>
                    <input type="text" id="Identificacion" name="Identificacion">
                </div>
                <div class="form-group">
                    <label for="valor_unitario">Cantidad: </label>
                    <input type="text" id="Nombre" name="Nombre">
                </div>
                <div class="form-group">
                    <label for="valor_unitario">Precio: </label>
                    <input type="text" id="Nombre" name="Nombre">
                </div>
                
            </div>
            <div class="caja1">
                <div class="form-group">
                    <label for="valor_unitario">Fecha devoluciòn: </label>
                    <input type="text" id="Nombre" name="Nombre">
                </div>
                <div class="form-group">
                    <label for="medio_pago">Observaciones: </label>
                    <input type="text" id="Telefono" name="Telefono">
                </div>
                <div class="form-group">
                    <label for="codigo">Tipo de devoluciòn: </label>
                    <select id="codigo" name="codigo">
                        <option value="cc">Mal estado</option>
                        <option value="ce">Vencido</option>
                        <option value="nit">Error</option>
                        <option value="rc">Otros</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-default">Guardar cambios</button>
        </div>
    </div>
</div>

    <script>
        // Función para abrir la ventana modal
        function openModal() {
            document.getElementById("myModal").style.display = "block";
        }
        
        // Función para cerrar la ventana modal
        function closeModal() {
            document.getElementById("myModal").style.display = "none";}

    </script>
    <script>
            // Función para abrir la ventana modal de devoluciones
            function openModalDevolucion() {
               document.getElementById("myModal3").style.display = "block";
           }
           
           // Función para cerrar la ventana modal devoluciones
           function closeModal3() {
               document.getElementById("myModal3").style.display = "none";}
       </script>

</body>
</html>
