<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-NwF3tBdYF4JcJjU4pN3nI9an2P+iK8a/1qdzNm5/lf7dUq0HfdvpBfB5SvOzJ4tv" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Página con Menú</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar-header">
                <div class="logo">
                    <img src="/static/images/logo.png" alt="Logo">
                </div>
                <br>
                
                <div class="user-icon">
                    <img src="/static/images/usuario-de-perfil.png" alt="User Icon">
                </div>
                <div class="admin-name">
                    <span>Administrador</span>
                </div>
            </div>
            <ul>
                <li><a href="{{ url_for('principal') }}"><i class="fas fa-home"></i> Inicio</a></li>
                <br>
                <li><a href="{{ url_for('caja') }}"><i class="fas fa-cash-register"></i> Caja</a></li>
                <br>
                <li><a href="{{ url_for('clientes') }}"><i class="fas fa-users"></i> Clientes</a></li>
                <br>
                <li><a href="{{ url_for('proveedores') }}"><i class="fas fa-user-tie"></i> Proveedor</a></li>
                <br>
                <li><a href="{{ url_for('productos') }}"><i class="fas fa-box"></i> Productos</a></li>
                <br>
                <li><a href="{{ url_for('usuarios') }}"><i class="fas fa-box"></i> Usuarios</a></li>
            </ul>
        </div>
        
        <a href="{{ url_for('logout') }}" class="logout-link">
            <i class="fas fa-sign-out-alt"></i> Cerrar sesión
        </a>       
          
        <div class="content d-flex flex-column">
            <!-- Contenido principal -->
            <h3>Registro de Proveedor</h3>     
            <div class="horizontal-bar my-4 d-flex py-2 justify-content-end">
                <img src="/static/images/agregar.png" alt="agregar" class="icon" onclick="openModal()">
                <input type="text" id="search-input" placeholder="Buscar...">
            </div>
                
            <table class="table table-bordered">
                <thead>
                    <th scope="col">Id Proveedor</th> 
                    <th scope="col">Tipo Identificacion</th>
                    <th scope="col">Numero Identificacion</th>
                    <th scope="col">Nombre proveedor</th> 
                    <th scope="col">Email</th> 
                    <th scope="col">Direccion</th> 
                    <th scope="col">Telefono</th> 
                    <th scope="col">Dia de Visita</th> 
                    <th scope="col">Dia de Entrega</th> 
                    <th scope="col" colspan="2">Acciones</th> 
                </thead>
                    
                <tbody>
                    {% for d in data %}
                        <tr>
                            <td>{{d.id_proveedor}}</td>
                            <td>{{d.tipo_identificacion}}</td>
                            <td>{{d.numero_identificacion}}</td>
                            <td>{{d.nombre_proveedor}}</td>
                            <td>{{d.email}}</td>
                            <td>{{d.direccion}}</td>
                            <td>{{d.telefono}}</td>
                            <td>{{d.dia_de_visita}}</td>
                            <td>{{d.dia_de_entrega}}</td>
                            <td><a href="{{url_for('deleteProveedor', id_proveedor=d.id_proveedor)}}" class="btn btn-danger btn-sm">Eliminar</a></td>
                            <td>
                                <button class="btn btn-primary btn-sm" onclick="openEditModal('{{d.id_proveedor}}', '{{d.tipo_identificacion}}', '{{d.numero_identificacion}}', '{{d.nombre_proveedor}}', '{{d.email}}', '{{d.direccion}}', '{{d.telefono}}', '{{d.dia_de_visita}}', '{{d.dia_de_entrega}}')">Editar</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Ventana modal agregar PROVEEDOR -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <form action="/guardarProveedores" id="proveedores_form" method="post" >
                    <div class="modal-header">
                        <h2>Crear Proveedor</h2>
                        <span class="close" onclick="closeModal()">×</span>
                    </div>
                    <div class="modal-body">
                        <div class="caja1">
                            <div class="form-group">
                                <label for="id_proveedor">ID Proveedor:</label>
                                <input type="text" id="id_proveedor" name="id_proveedor" value="{{ next_id }}" readonly>
                            </div>
                            
                            <div class="form-group">
                                <label for="tipo_identificacion">Tipo de Identificacion:</label>
                                <select type= "text" id="tipo_identificacion" name="tipo_identificacion">
                                    <option value="CC">CC</option>
                                    <option value="CE">CE</option>
                                    <option value="NIT">NIT</option>
                                    <option value="RC">RC</option>
                                    <option value="OTRO">OTRO</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="numero_identificacion">Numero Identificacion:</label>
                                <input type="text" id="numero_identificacion" name="numero_identificacion">
                            </div>
                            <div class="form-group">
                                <label for="nombre_proveedor">Razon social:</label>
                                <input type="text" id="nombre_proveedor" name="nombre_proveedor">
                            </div>
                        </div>
                        <div class="caja1">
                            <div class="form-group">
                                <label for="direccion">Direccion:</label>
                                <input type="text" id="direccion" name="direccion">
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="text" id="email" name="email">
                            </div>
                            <div class="form-group">
                                <label for="telefono">Telefono:</label>
                                <input type="text" id="telefono" name="telefono">
                            </div>
                            <div class="form-group">
                                <label for="dia_de_visita">Día de Visita:</label>    
                                <select type="text" id="dia_de_visita" name="dia_de_visita">
                                    <option value="Lunes">Lunes</option>
                                    <option value="Martes">Martes</option>
                                    <option value="Miercoles">Miércoles</option>
                                    <option value="Jueves">Jueves</option>
                                    <option value="Viernes">Viernes</option>
                                    <option value="Sabado">Sábado</option>
                                    <option value="Domingo">Domingo</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="dia_de_entrega">Dia de Entrega:</label>
                                <select type="text" id="dia_de_entrega" name="dia_de_entrega">
                                    <option value="Lunes">Lunes</option>
                                    <option value="Martes">Martes</option>
                                    <option value="Miercoles">Miércoles</option>
                                    <option value="Jueves">Jueves</option>
                                    <option value="Viernes">Viernes</option>
                                    <option value="Sabado">Sábado</option>
                                    <option value="Domingo">Domingo</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="closeModal()">Cancelar</button>
                        <button type="submit" class="btn btn-default">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
        
        <!-- Ventana modal de edición -->
        <div id="myModal2" class="modal">
            <div class="modal-content">
                <form id="edit-form" method="post">
                    <div class="modal-header">
                        <h2>Editar Proveedor</h2>
                        <span class="close" onclick="closeModal2()">×</span>
                    </div>
                    <div class="modal-body">
                        <div class="caja1">
                            <input type="hidden" id="edit_id_proveedor" name="id_proveedor">
                            <div class="form-group">
                                <label for="edit_tipo_identificacion">Tipo de Identificación:</label>
                                <select type="text" id="edit_tipo_identificacion" name="tipo_identificacion">
                                    <option value="CC">CC</option>
                                    <option value="CE">CE</option>
                                    <option value="NIT">NIT</option>
                                    <option value="RC">RC</option>
                                    <option value="OTRO">OTRO</option>
                                 </select>
                            </div>
                            <div class="form-group">
                                <label for="edit_numero_identificacion">Número de Identificación:</label>
                                <input type="text" id="edit_numero_identificacion" name="numero_identificacion">
                            </div>
                            <div class="form-group">
                                <label for="edit_nombre_proveedor">Nombre proveedor:</label>
                                <input type="text" id="edit_nombre_proveedor" name="nombre_proveedor">
                            </div>
                            <div class="form-group">
                                <label for="edit_email">Email:</label>
                                <input type="text" id="edit_email" name="email">
                            </div>
                        </div>  
                        <div class="caja1">   
                            <div class="form-group">
                                <label for="edit_direccion">Dirección:</label>
                                <input type="text" id="edit_direccion" name="direccion">
                            </div>
                            <div class="form-group">
                                <label for="edit_telefono">Teléfono:</label>
                                <input type="text" id="edit_telefono" name="telefono">
                            </div>
                            <div class="form-group">
                                <label for="edit_dia_de_visita">Día de Visita:</label>
                                <select type="text" id="edit_dia_de_visita" name="dia_de_visita">
                                    <option value="Lunes">Lunes</option>
                                    <option value="Martes">Martes</option>
                                    <option value="Miercoles">Miércoles</option>
                                    <option value="Jueves">Jueves</option>
                                    <option value="Viernes">Viernes</option>
                                    <option value="Sabado">Sábado</option>
                                    <option value="Domingo">Domingo</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="edit_dia_de_entrega">Día de Entrega:</label>
                                <select type="text" id="edit_dia_de_entrega" name="dia_de_entrega">
                                    <option value="Lunes">Lunes</option>
                                    <option value="Martes">Martes</option>
                                    <option value="Miercoles">Miércoles</option>
                                    <option value="Jueves">Jueves</option>
                                    <option value="Viernes">Viernes</option>
                                    <option value="Sabado">Sábado</option>
                                    <option value="Domingo">Domingo</option>
                            </select>
                            </div>
                        </div>  
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="closeModal2()">Cancelar</button>
                        <button type="button" class="btn btn-default" onclick="submitForm()">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Contenedor para mostrar el mensaje de respuesta -->
        <div id="response-message" class="modal" style="display: none;">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Respuesta</h2>
                    <span class="close" onclick="closeResponseModal()">×</span>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

    <script>
        // Función para abrir la ventana modal
        function openModal() {
            document.getElementById("myModal").style.display = "block";
        }
        
        // Función para cerrar la ventana modal
        function closeModal() {
            document.getElementById("myModal").style.display = "none";
        }

        // Función para abrir la ventana modal de edición y llenar los campos con los detalles del proveedor
        function openEditModal(id_proveedor, tipo_identificacion, numero_identificacion, nombre_proveedor, email, direccion, telefono, dia_de_visita, dia_de_entrega) {
            document.getElementById("edit_id_proveedor").value = id_proveedor;
            document.getElementById("edit_tipo_identificacion").value = tipo_identificacion;
            document.getElementById("edit_numero_identificacion").value = numero_identificacion;
            document.getElementById("edit_nombre_proveedor").value = nombre_proveedor;
            document.getElementById("edit_email").value = email;
            document.getElementById("edit_direccion").value = direccion;
            document.getElementById("edit_telefono").value = telefono;
            document.getElementById("edit_dia_de_visita").value = dia_de_visita;
            document.getElementById("edit_dia_de_entrega").value = dia_de_entrega;
            document.getElementById("myModal2").style.display = "block";
        }

        // Función para cerrar la ventana modal de edición
        function closeModal2() {
            document.getElementById("myModal2").style.display = "none";
        }

        // Función para enviar el formulario utilizando AJAX
        function submitForm() {
            var formData = new FormData(document.getElementById("edit-form"));
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        // Si la respuesta es exitosa, muestra el mensaje de respuesta en el modal de edición
                        document.querySelector("#myModal2 .modal-body").innerHTML = xhr.responseText;
                    } else {
                        // Maneja los errores si es necesario
                        console.error('Error al enviar el formulario:', xhr.status);
                    }
                }
            };
            xhr.open("POST", "/editar_proveedor", true);
            xhr.send(formData);
        }

        // Función para cerrar el modal de respuesta
        function closeResponseModal() {
            document.getElementById("response-message").style.display = "none";
        }
    </script>
</body>
</html>
