<div class="modal-header">
    <h2>Registro de venta</h2>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="venta_id">Venta ID:</label>
        <input type="text" id="venta_id" name="venta_id">
    </div>
    <div class="form-group">
        <label for="codigo">Código:</label>
        <input type="text" id="codigo" name="codigo">
    </div>
    <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion">
    </div>
    <div class="form-group">
        <label for="valor_unitario">Valor Unitario:</label>
        <input type="text" id="valor_unitario" name="valor_unitario">
    </div>
    <div class="form-group">
        <label for="medio_pago">Medio de Pago:</label>
        <input type="text" id="medio_pago" name="medio_pago">
    </div>
    <div class="form-group">
        <label for="descuento">Descuento:</label>
        <input type="text" id="descuento" name="descuento">
    </div>
    <div class="form-group">
        <label for="fecha_venta">Fecha de Venta:</label>
        <input type="text" id="fecha_venta" name="fecha_venta">
    </div>
    <div class="form-group">
        <label for="cantidad">Cantidad:</label>
        <input type="text" id="cantidad" name="cantidad">
    </div>
    <div class="form-group">
        <label for="iva">IVA:</label>
        <input type="text" id="iva" name="iva">
    </div>
</div>
