body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Fondo blanco */
}

.sidebar-header .logo img {
    width: 120%; /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
    padding: center;
    margin-right: 50px;
    margin-top: -20px;
}
.sidebar-header .logo {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    padding-bottom:-100%; /* Ajusta el espacio inferior según sea necesario */
}

.sidebar-header .admin-name span {
    padding: 40px;
    font-weight: 300; /* Un poco más delgado que el texto normal */
    text-decoration: underline; /* Subraya el texto */
    letter-spacing: 2px; /* Agrega espacio entre las letras */
    margin-top: 10px;
}
.user-icon img {
    width: 50px; /* Ajusta el tamaño del icono */
    height: auto;
    margin: top 0px; /* Ajusta la distancia con el logo */
    display: block; /* Centra el icono horizontalmente */
    margin-left:34%;
    margin-right: auto;
    padding: 5px;
}

.sidebar {
    flex: 0 0 100px; /* Ancho fijo de la barra lateral */
    background-color: #5499C7; /* Azul */
    color: #ffffff; /* Texto blanco */
    padding: 40px;
}

.sidebar ul {
    list-style-type: none;
    padding: 20px 30px; /* Ajusta este valor según sea necesario */
    margin-top: 20px; /* Ajusta este valor para subir más la lista */
}
.sidebar ul li a {
    color: #ffffff; /* Texto blanco */
    text-decoration: none;
    /* font-weight:bold ; Texto en negrita */
    margin-bottom: 10px;
}
.logout-link {
    position: fixed;
    bottom: 0; /* Fija el enlace en la parte inferior de la ventana del navegador */
    left:  0; /* Fija el enlace en la esquina derecha de la ventana del navegador */
    padding: 10px 9%; /* Ajusta el espaciado interno según sea necesario */
    color: #ffffff; /* Color de texto blanco */
    margin-bottom: 20px; /* Ajusta la distancia con los elementos anteriores */
}

.content {
    flex: 1; /* Ocupa todo el espacio restante */
    padding:20px;
    margin-top:-10%;
    background-color: rgba(255, 255, 255, 0.7); /* Fondo transparente */
    padding: 330px; /* Ajusta el espaciado interno según sea necesario */
    color:grey;
    margin-left: 30px;
}

/* Imagen a la derecha como línea de agua */
.wrapper {
    display: flex;
    height: 100vh;
    background-image: url('images/logo.png'); /* Ruta de la imagen */
    background-size: 800px; /* Define el tamaño de la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: calc(100% - 40%) calc(100% - 50%); /* Ajusta la posición de la imagen */
    
}

.content h3{
    margin-top: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    font-size: 30px; 
}

/* Imagen a la derecha como línea de agua */
.watermark {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.3; /* Opacidad baja */
}

.DatosEmpresa{
    margin-top: -150px;
    margin-left: -340px;

}
